@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Dokdo');
/* .banner{
    background-image: url('../images/Untitled-1.jpg');
    height: 350px;
} */

.textbanner{
    
    margin-left: 15px; 
    color: red;
}

.textb2{
    /* margin-top: -20px; */
    font-family: 'Dokdo', cursive;
    font-size: 500%;
    color: red;
    /* margin-left: 20px; */
}
.menunu{
    
    top: 0;
    z-index: 1071;
    background-color: #00CCFF;
}
.intro{
    
    height: 120px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.divz{
	position: relative;
}
.textz{
	bottom: 35%; 
	position: absolute;
	
}
.textintro{
    
    color: rgb(0, 0, 0);
    margin-top: 5px;
}
/* .mautron{
    background-image: url('../images/Untitled-1.jpg');
    
} */
.textp{
    text-align: center;
    font-size: 25px;
}
.texttable{
    text-align: center;
}
.tableimg{
    margin-top: 7px;
}
.bgfooter{
    background-color: steelblue; 
}
.textpfooter{
    font-size: 20px;
}
.li{
    list-style: none;
}

.li-con{
    margin-left: 10px;
}
.cuoi{
    text-align: center;
}
.footertong{
    margin-left: 5px;
    margin-right: 10px;
}
.anh{
    height: 50px;
    font-weight: 50px;
}
.lop{
    background-color: #66FFCC;
}
.lienhe{
    background-color: #00FFCC;
}
/* product-begin */
.card-product .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    text-align: center;
}
.card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.card-product .info-wrap {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee;
}
.card-product .bottom-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
}

.label-rating { margin-right:10px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

.card-product .price-old {
    color: #999;
}
/* product-end */
.giohang{
    margin-right: 5px;
}
/* menulogin begin */
body{
    background:url(../images/nen.jpg);
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
/* menulogin end  */
/* register */
@media(min-width: 768px) {
    .field-label-responsive {
      padding-top: .5rem;
      text-align: right;
    }
  }